@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.logo p{
    padding:5px;
    font-size: 30px;
    font-weight: 600;
}
.container{
    background-color:#003049;
    color:#eae2b7;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top:0;
}
ul{
    display:flex;
}
ul li{
    font-weight: 500;
   font-size: 20px;
   list-style: none;
   /* padding:0 5px; */
  
}
li a{
   text-decoration: none;
   color:white;
   padding:16px 18px;
}
li a:hover{
    background-color: grey;
    color:black;
}
.body-section{
    margin:5px;
}
.btn {
    margin:10px;
    width:100px;
    height:50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;

}
.btn:hover{
    background-color: black;
    color:white;
   
}
body{
    background-color: #eae2b7;
}
.post-container{
   min-width:20rem;
   width:70%;
   margin:auto;
   
}
.post-container h1{
    text-align: center;
}
.post{
     background-color: #d62828;
     border-radius: 10px;
     margin-top:10px;
     padding:20px;
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.post-id{
    width:50px;
    height:50px;
    background-color: white;
    color:red;
    font-size: 22px;
    font-weight: 800;
    display: grid;
    border-radius: 5px;
    place-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.title{
    text-align: center;
    padding-bottom: 5px;
}
.post-content{
    text-align: center;
    font-size: 16px;
    padding:10px;
}
